.header{
    background-color: #f8f9fa;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    background-image: url('/assets/images/background1.jpg');
    background-position: center;
}
.name{
    color: #7da8d1;
}
.designation{
    color: #c58254d6;
}